.barra{
    display: flex;
    justify-content: center;
    background-color:#f8f9fa;
}

.tituloH1{
    padding: 20px;
    text-align: center;
}
.formulario{
    margin-top: 2vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin-bottom: 3vw;
    margin-left: 25vw;
    margin-right: 25vw;
}
.etiquetas{
    margin-bottom: 1vw;
}
.error{
    color: red;
}
table.tablaEstudiante{
    margin-top: 35px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
h3.tituloTabla{
    text-align: center;
    font-size: 20px;
    color: greenyellow;
}

            strong{
                color: black;
            }

td{
    text-align: center;
    color: yellow;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }